# GPU requirements
# using CUDA 13.0

torch==2.10.0+cu130
torchvision==0.25.0+cu130
--extra-index-url https://download.pytorch.org/whl/cu130


numpy>=1.26,<1.27 # > 2.0 probably not supported yet, it was tested with 1.24-1.26
opencv-python>=4.9,<5.0
matplotlib>=3.8,<3.9
scikit-learn>=1.4,<1.5

pytorch-metric-learning>=2.4,<2.5
safe_gpu>=1.5,<1.6

lmdb>=1.4,<1.5
imgaug>=0.4,<0.5
